.card-wrapper {
  max-width: 1900px;
  width: 100%;
  height: 100%;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.card {
  box-sizing: border-box;
  max-width: 300px;
  width: 100%;
  height: 254px;
  background: rgba(217, 217, 217, 0.58);
  border: 1px solid white;
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
  border-radius: 17px;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
  color: black;
  flex: 1 0 300px;
  padding: 20px;
}

.card > button {
  border: unset;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.05);
}

.card:active {
  transform: scale(0.95) rotateZ(1.7deg);
}

.card-url {
  font-size: 10px;
  color: #47106b;
}